body {
    background-color: #A1C298;
    color: #F9F9F9;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

#map {
    height: 600px;
    width: 600px;
    align-self: center;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
}