<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1> 📍 RC College </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li>Rachel Carson’s parking 161/200	</br></li>
				<li>Rachel Carson’s classes 118/200</br></li>
				<li>Rachel Carson’s study lounges 122/200</br></li>
				<li>Rachel Carson’s quad 99/200 <br></li>
				<li>Rachel Carson’s location 111/200 </br></li>
		</div>
		<div class="item" id="center">
			<img src="img/rachel_carson_college_3📌18.pdf"/>
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
			<ul>
				<li>
				📌”The dining hall here has been under construction since before I got here. I often run down to the Oakes cafe for some food. The libraries are too far away, so I stay in my room.”
			</li>
			<li>
📌”I only go to the libraries if my classes are around there, otherwise I stay in my room. I go to the Porter/Kresge dining hall, so I’m covered on food.”
</li>
<li>
📌”I think that the oakes dining hall is a good place to eat, and study, actually.”
</li>
<li>
📌”I like the environment here and often meet with friends to study in my room. Occasionally, we’ll study in the dining hall.”
</li>
<li>
📌”I think RCC is just far enough away from everywhere that eating or studying anywhere is a trek.”
</li>
<li>
📌”I don’t like the food at Porter, but the dining hall here still isn’t open, so I just gotta stick with it, you know?”
</li>
<li>
📌”I think that we have to agree that the Oakes dining hall is te best place to eat and study in. It kind of is a nice, peaceful place to be. But once the dining hall opens up, i’m sure it’ll be great.”
</li>
			</ul>
		</div>
	</div>
</body>
</html>
