<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1> 📍 Oakes College </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li>Oake's cafe 57/100 (114/200)</br></li>
				<li>	Oake's classes 62/100 (124/200)</br></li>
				<li>	Oake's lounges 69/100 (138/200)</br></li>
				<li>	Oake's quad 74/100 (148/200)</br></li>
				<li>	Oake's location 47.5/100 (95/200)</br></li>
				<li>	Oake's parking 75.5/100 (151/200)</br></li>


		</div>
		<div class="item" id="center">
			<img src="img/oakes.png"/>
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
			<ul>
				<li>
				📌”I have a nice view from my room, so I often study there and I live by the cafe, so that’s nice.”
			</li>
			<li>
📌”I am not from Oakes, but I like the environment and the vibe and the feel here.”
</li>
<li>
📌”This place is honestly a hidden gem, and I don’t think a lot of the other colleges realize that. It’s kinda away from everything, so it’s a nice and peaceful place to be to study. And plus, the cafe is amazing.”
</li>
<li>
📌”I do like the food here better than anywhere else on campus. By far the best.”
</li>
<li>
📌”I do not think that people fully appreciate Oakes and while I before wished I ended up in Stephenson, living here and realizing just how much this place has to offer, I’m glad I ended up here.”
</li>
<li>
📌”Oakes is the best place for everything. The cafe serves good food and is a good place to study. I also really enjoy eating and studying in my room, as well. There’s a nice view from the window, so I see a nice bit of the outside, which helps set my mind at ease when hard assignments come up. I can see the forest and the sea at the same time, and I’m grateful for that.”
</li>

			</ul>
		</div>
	</div>
</body>
</html>
