<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1 id=""> 📍 College Nine </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li>Overall Rating 58/100 (464/800)</li>
			<li>Dining Hall 122/200	</br></li>
				<li>Library 126/200</br></li>
				<li>Classes 112/200</br></li>
				<li>Lounge 104/200</br></li>
		</div>
		<div class="item" id="center">
			<img src="img/c9c10.png"/>
		</div>
		<div class="item" id="right">
			<h2>🤩 Student Testimonals</h2>
			<ul>
				<li>
                    📌 I like the dining hall. I like that it feels like there are two separate halls to sit in. The S&E library kinda feels serious, but that helps sometime. The classes are also okay. And I prefer my dorm to study.
                </li>
				<li>
                    📌 The dining hall is pretty cool. Same for the study rooms. My classes are near S&E, so I go there a lot.
                </li>
				<li>
                    📌 I like the Oakes Cafe most, but the 9/10 dining hall is a close second. I’m actually from Oakes. I can’t speak to the classes in the 9/10, but they’re probably okay. And the study lounges are probably okay.
                </li>
				<li>
                    📌 I like the dining hall. McHenry is kinda far for me, so I rely on the study rooms a bit, but the WiFi can be a bit shoddy. I do like the classes. They’re pretty dapper. Do people still say that? Doesn’t matter. I’m bringing it back
                </li>
				<li>
                    📌 The libraries are kinda crowded for me. And same for the dining hall. The classrooms were nothing to praise, but they were, uh, decent. Praise to the study lounge, though.
                </li>
				<li>
                    📌 I think the study lounges are kinda basic, but I’m a bit guilty. I do go in there. The dining hall is amazing. The libraries have different vibes, so I guess it depends what you’re going for, but I like them. The classrooms are also pretty cool.
                </li>
				<li>
                    📌 Not the greatest dining hall, but easily the best out of the UCSC ones. The carpets are a bit worn out in the S&E library. The classes are okay. The study lounges can use more outlets. Other than that, it’s great.
                </li>
                <li>
                    📌 Oh, that’s simple. The dining hall has the most space, but not the best food. The libraries are hell holes. Sorry if that’s mean. I like that the study lounges are cool. And as for the classrooms, the chairs can be comfier, so it’d be cool to invest money in that, you know?
                </li>
                <li>
                    📌 Literally the best option for food on campus. What’s that? Yeah, that kinda did sound like Chris Traeger. The libraries get a bit crowded around midterms and finals, but still a nice place. The classes can be improved, as well.  I do like that the study lounges stay the same amount of crowded.
                </li>
			</ul>
		</div>
	</div>
</body>
</html>
