h1{
  text-align: center;
  color: blue;
}

h2{
  text-align: center;
  color: red;
  font-style: italic;
}

#left{
  float: left;
  border-style: solid;
  border-width: medium;
  font-style: italic;
  width: 400px;
  height: 400px;
  color: green;
  padding-top: 10px;
  background-color: #E6E6FA;
}

#right{
  border-style: solid;
  border-width: medium;
  float: right;
  width: 400px;
  height: 400px;
}

#center{
  border-style: solid;
  border-width: medium;
  text-align:center;
  width: 400px;
  height: 400px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  float: center;
}
