<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
</head>
<body>
	<div id="header">
		<h1 id=""> 📍 Kresge </h1>
		<a href="../../index.html">back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>Rankings</h2>
		</div>
		<div class="item" id="center">
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
			<ul>
				<li>
                    The dining hall could be better. I guess the McHenry Library is alright; I don’t go there very often. None of my classes are here at Kresge. Personally, I don’t like study rooms in general.
                </li>
                <li>
                    I usually like making my own food and don’t visit the dining hall that often. The library is extensive and I like studying there. My classes are relatively easy. As for the study room, it’s kinda comfortable, but I prefer the library because I can really focus there, you know?
                </li>
                <li>
                    Uh, yeah, I guess the food is okay. It’s close by. McHenry is kinda far so I usually go to S&E and I like the little individual booth things they have when you walk in. I like it more than the study lounge. It also works since most of my classes are by the communications building.
                </li>
                <li>
                    I know some people don’t like it, but I like eating at Kresge. It was pretty cool when they added the ice cream machine. I think it’s important to visit libraries (yeah, I’ve visited both). I have classes all over campus, and none really stand out because of it in a weird way. And the study rooms I admit I use more to just relax.
                </li>
                <li>
                    I mean, come on, the food isn’t that great. The libraries and study rooms are alright, but one is for studying and the other is more relaxing, you know? And the classrooms are eh.
                </li>
                <li>
                    Ha! The food at Porter Kresge is a joke. Maybe one or two things are alright. I don’t like the study rooms or library because why leave your single apartment? And I’ve never had a class at Kresge, but they might be alright
                </li>
                <li>
                    The dining hall stinks. I don’t care for the classrooms of study halls, but the S&E library is cool.
                </li>
                <li>
                    The food at the hall is decent. Same goes for the setup of the classrooms and study room. I’m a first year and haven’t visited the library yet, but I’ll go at some point.
                </li>
                <li>
                    The food is alright. Also thinking about getting a job there, right? I’ve gone to McHenry, but I haven’t been to the Science library. I like the classrooms. They’re okay. Study halls? I hear they’re cool
                </li>
                <li>
                    Given what they’re working with, the food is relatively okay and quite delicious sometimes. The classrooms look well-made for the time, though I’ve never had a class there as of yet. The libraries are okay, but as a science major, I tend to go to S&E more often. As for the study rooms, I try not to go in there too often because I sometimes get comfortable, you know? One time I fell asleep in there and anyone could have taken my computer.
                </li>
                <li>
                    I give the food 7/10. Library 8/10. Study rooms 9/10 and the classrooms another 8/10
                </li>
                <li>
                    The food’s alright. The library is okay. The classrooms are okay. The study room is okay. That about covers it.
                </li>
			</ul>
		</div>
	</div>
</body>
</html>
