<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
		<link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1 id=""> 📍 College Ten (John R. Lewis College) </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li>Overall Rating 57.25/100 (458/800)</li>
			<li>Dining Hall 122/200	</br></li>
					<li>Library 126/200</br></li>
					<li>Classes 121/200</br></li>
					<li>Lounge 89/200</br></li>
		</div>
		<div class="item" id="center">
			<img src="img/colleges-nine-john-r-lewis.pdf"/>
		</div>
		<div class="item" id="right">
			<h2>🤩 Student Testimonals</h2>
			<ul>
				<li>
					📌 The study lounge is just lovely. I like that the dining hall stays open later than most, so that’s a plus. And the library could be open longer, on that note.
				</li>
				<li>
					📌 I’ve thoroughly enjoyed the food at the dining hall. I think the library can be renovated or updated. The lounge rooms can be loud depending on who’s there, but it’s a nice place to fall back on to study.
				</li>
				<li>
					📌 Considering price and quality, I think it’s one of the better choices on campus. The S&E library has a lot of computers, so it’s a prime place to study. But like you said, the study lounges are there. So yeah, there’s a backup if you need it.
				</li>
				<li>
					📌 The dining halls often run out of food they were selling. The libraries and lounges can be improved upon, so there’s that. College experience, right?
				</li>
				<li>
					📌 I’ve never been in the study lounges or the libraries. I like my apartment. Nice view, big front room. And yeah, the dining hall is okay. But I prefer [Stevenson’s].
				</li>
				<li>
					📌 Some of the seats in the libraries are good, some other are bad. It’s kinda cool that it gets quieter the higher you go on the floors. The study lounges are equally comfortable for my lazier days. I tend to order from off campus, but the dining hall is good. But sometimes they close in the middle of the afternoon for staff meetings.
				</li>
				<li>
					📌 The cushions in the study lounges aren’t all that great. I like the rotating menus in the dining halls. I’ve tried a lot of new foods in the past year. They need to step it up with the old libraries, though.
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
