<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1> 📍 Cowell College </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
		</div>
		<div class="item" id="center">
			<img src="img/Porter_College_2015.pdf"/>
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
		</div>
	</div>
</body>
</html>
