<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1> 📍 Porter College </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li> Porter’s dinning hall 54.5/100 (109/200)</br></li>
				<li> Porter’s classes 64/100 (128/200)</br></li>
				<li> Porter’s lounges 65.5/100 (131/200)</br></li>
				<li> Porter’s quad 76.5/100 (153/200)</br></li>
				<li> Porter’s scenery 82.5/100 (165/200)</br></li>
				<li> Porter’s location 59.5/100 (119/200)</br></li>

		</div>
		<div class="item" id="center">
			<img src="img/porter.png"/>
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
			<ul>
				<li>
				📌”The food is kinda okay. The ice cream machine they put in last year is honestly the reason I go in as often as I do now. The study rooms are kinda okay, but I like my room better. The walk to the library can occasionally be a hike, so sometimes I go, sometimes I don’t.”
			</li>
			<li>
📌”The library is not too far, so sometimes I’ll just go right after a trip to the dining hall.”
</li>
<li>
📌”The food is disastrous and could use work.”
</li>
<li>
📌”I like the people who work at the dining hall, but I think that the food could use work.”
</li>
<li>
📌”It gets a bad rep, but I think the food here is pretty okay. It’s kinda cool just how close we are to the library compared to some of the other colleges, but I gotta admit the library is just a bit too far some days.”
</li>

			</ul>
		</div>
	</div>
</body>
</html>
