<!DOCTYPE html>
<html>
<head>
	<title>M.A.P.S. 📍</title>
	<link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="css/lab.css">
</head>
<body>
	<div id="header">
		<h1> 📍 Stevenson College </h1>
		<a href="../../index.html">← back</a>
	</div>
	<div id="container">
		<div class="item" id="left">
			<h2>📊 Statistics</h2>
			<li> Overall 62.63 /100 (501/800)</li>
			<li>Dining 143/200</br></li>
					<li>Library 124/200</br></li>
				<li>Classes 116/200</br></li>
				<li>Lounge 118/200</br></li>



		</div>
		<div class="item" id="center">
			<img src="img/stevenson_9📌17.pdf"/>
		</div>
		<div class="item" id="right">
			<h2>Student Testimonals</h2>
			<ul>
				<li>
				📌”I love living at Stephenson. The views are great and the food is the best.”
			</li>
			<li>
📌”The best dining hall and campus with the best study locations. I often go to the field just to study.”
</li>
<li>
📌”I have tried all the dining halls on campus, and other than maybe Oakes cafe, the dining hall here is the best place to eat on campus. Bet. And the best place to study in my opinion are these benches on a hill other there (points off in distance) overlooking the field.”
</li>
<li>
📌”Stephenson is kind of thought of as a jock college, but it’s actually a nice place to study. My boyfriend and I sometimes sit just outside the dining hall or in it to study. Sometimes for hours inside. Two meals, one swipe, you know?”
</li>
			</ul>
		</div>
	</div>
</body>
</html>
